<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <button (click)=" show.page = 'register' " *ngIf=" api.isLoggedOut() ">Register</button>
    <button (click)=" show.page = 'login' " *ngIf=" api.isLoggedOut() ">Login</button>
    <button (click)=" show.page = 'profile' " *ngIf=" api.isLoggedIn() ">Update Profile</button>
    <button *ngIf=" api.isLoggedIn() " (click)=" api.logout() ">Logout</button>
    <button routerLink="/forum/qna">QnA</button>
    <button routerLink="/forum/freetalk">Freetalk</button>
    <hr>
    User has logged <span *ngIf="api.isLoggedIn()">in as {{ api.getMemberNickname() }}</span><span *ngIf="api.isLoggedOut()">out</span>
    <hr>


  
    <app-user-login *ngIf=" show.page == 'login' "></app-user-login>
    <app-user-register-and-profile-component *ngIf=" show.page == 'register' || show.page == 'profile' "></app-user-register-and-profile-component>
    <app-post-list-component #postListComponent></app-post-list-component>
</ion-content>


