<h2>PhilGo Login</h2>

<div>User Id: <input type='text' [(ngModel)]="loginData.id" ></div>
<div>Password: <input type = 'password' [(ngModel)]="loginData.password"></div>
<div notice *ngIf=" status.loader ">Please, wiat.</div>
<div warning *ngIf=" status.error ">{{ status.error }}</div>
<div warning *ngIf=" status.success ">{{ status.success }}</div>
<button (click)="onClickLogin()">Login</button>
<a routerLink="/test/philgo/register">Register</a>
<a routerLink="/test/philgo/home">Cancel</a>
     
